{
  "env": {
      "browser": true,
      "es6": true,
      "node": true
  },
  "globals": {
    "$dataActors": true,
    "$dataClasses": true,
    "$dataSkills": true,
    "$dataItems": true,
    "$dataWeapons": true,
    "$dataArmors": true,
    "$dataEnemies": true,
    "$dataTroops": true,
    "$dataStates": true,
    "$dataAnimations": true,
    "$dataTilesets": true,
    "$dataCommonEvents": true,
    "$dataSystem": true,
    "$dataMapInfos": true,
    "$dataMap": true,
    "$gameTemp": true,
    "$gameSystem": true,
    "$gameScreen": true,
    "$gameTimer": true,
    "$gameMessage": true,
    "$gameSwitches": true,
    "$gameVariables": true,
    "$gameSelfSwitches": true,
    "$gameActors": true,
    "$gameParty": true,
    "$gameTroop": true,
    "$gameMap": true,
    "$gamePlayer": true,
    "$testEvent": true,

    "PIXI": true,
    "Point": true,
    "Rectangle": true,

    "Bitmap": true,
    "DataManager": true,
    "Game_Temp": true,
    "Graphics": true,
    "ImageManager": true,
    "Input": true,
    "PluginManager": true,
    "Scene_Base": true,
    "Scene_Load": true,
    "Scene_Title": true,
    "SceneManager": true,
    "ScreenSprite": true,
    "SoundManager": true,
    "Sprite": true,
    "TextManager": true,
    "TouchInput": true,
    "Utils": true,
    "WebAudio": true,
    "Window_Message": true,
    "Window_TitleCommand": true,
    "window": true
  },
  "rules": {
    "camelcase": 0,
    "key-spacing": 1,
    "no-alert": 1,
    "no-empty": 1,
    "no-multi-spaces": 1,
    "no-mixed-spaces-and-tabs": [2, "smart-tabs"],
    "no-redeclare": 1,
    "no-shadow": 0,
    "no-underscore-dangle": 0,
    "no-unused-vars": 1,
    "no-use-before-define": 1,
    "quotes": 0,
    "strict": 0,
    "semi": 2
  }
}
